In [17]:
import json
import csv
import tweepy
import re
import nltk
from nltk.stem import WordNetLemmatizer
import pandas as pd
import GetOldTweets3 as got
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()
import numpy as np

In [18]:
consumer_key = input()
consumer_secret = input()
access_key = input()
access_secret = input()

BZCiEnipIjwlIr5qdFawFL7Ka
UTHnBo6nzb5HhsQGoFxjEHBHArDAlT9VyXx8x98AObzpV6iArr
757468675414695936-wVM842i23t6yTUDhbwuKkH92LGnZRAq
TEFpzrCMH8aYl7YURiygG6Mgk76BAM9tLNWagI8JBAHiZ

In [19]:
#tweets_df = pd.DataFrame(text_tweets)
#len(text_tweets2)
text_query3 = 'IIT Bombay'
since_date = '2020-01-01'
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setLang('en')
# Creation of list that contains all tweets
tw3 = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets3 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets] for tweet in tw3]

In [21]:
tweets_df = pd.DataFrame(text_tweets3)

In [22]:
tweets_df.columns = ['Tweet_text' , 'date' , 'username','retweets']

In [23]:
tweets_df = tweets_df.drop_duplicates()
#tweets_df.to_csv('og_iitm.csv')
tweets_df

,Tweet_text,date,username,retweets
0,"#OnThisDay in 1831, James Clerk Maxwell was bo...",2020-06-13 13:36:43+00:00,Techfest_IITB,19
1,This being the only courier service in the are...,2020-06-13 13:31:12+00:00,Karthik38561419,0
2,And QS world University ranking to standing of...,2020-06-13 11:44:07+00:00,Ashutos55613937,0
3,Please Help Us #Students .Please extend Date o...,2020-06-13 11:27:36+00:00,Himansh18811460,1
4,@Techfest_IITB remembers Dr. John Forbes Nash ...,2020-06-13 11:11:54+00:00,Techfest_IITB,28
...,...,...,...,...
11936,TIME PASS.... Ask them to quit IIM and then pr...,2020-01-01 05:36:16+00:00,hemmu25,0
11937,Must watch. Epic! https://youtu.be/CEpRccgc9G0...,2020-01-01 04:57:35+00:00,ApoorvanandJ,0
11938,"yes, IIT D, IIT BOMBAY, IIT MADRAS, IIT KANPUR...",2020-01-01 04:52:50+00:00,ProudToBeJamian,0
11939,IIT Bombay Beckons you to attend an alumni reu...,2020-01-01 03:37:30+00:00,debeshchoudhury,0
11940,When will India develop this advanced weapons?...,2020-01-01 00:31:00+00:00,rewatiramanray,0

In [24]:
#check how many tweets were from one of the university handles
uni_tweets = tweets_df.loc[tweets_df['username'].isin(['iitbombay','ecell_iitb','idc_iitb','edtechiitb'])]

In [25]:
uni_tweets['uni_handle'] = 1

C:\Users\KIRHIKAGURUMURTHY\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
uni_tweets
#uni_handle_list =  ['iitmadras','ecelliitm','vandemataramiit','iGEM_IITM','iitm_respark','domsiitmadras','emliitm','iitmbt','CFI_IITM','iitmfoundation']

,Tweet_text,date,username,retweets,uni_handle
90,"E-Cell, IIT Bombay congratulates Kiran Mazumda...",2020-06-12 11:53:56+00:00,ecell_iitb,8,1
296,IIT Bombay is ranked 3rd in engineering catego...,2020-06-11 09:19:45+00:00,iitbombay,34,1
667,Campus Ambassador program is still live! Apply...,2020-06-10 12:04:07+00:00,ecell_iitb,9,1
835,"The Indian Institute of Technology, Bombay, is...",2020-06-10 02:58:23+00:00,iitbombay,121,1
1158,"Presenting second in the series, ""Resilient Su...",2020-06-07 11:50:10+00:00,ecell_iitb,8,1
...,...,...,...,...,...
11855,"Air Marshal Vibhas Pande VSM, an IIT Bombay al...",2020-01-03 05:21:19+00:00,iitbombay,5,1
11857,"DRDO will establish five laboratories, each in...",2020-01-03 05:13:12+00:00,iitbombay,4,1
11858,Delhi gets first smog tower to combat air poll...,2020-01-03 05:10:55+00:00,iitbombay,12,1
11859,"Launched in 2015, Bengaluru-based fintech plat...",2020-01-03 05:08:33+00:00,iitbombay,1,1
11935,MHRD is organizing 2nd national Essay Competit...,2020-01-01 05:57:30+00:00,iitbombay,2,1

In [27]:
tweets_df['uni_handle'] = uni_tweets['uni_handle']

In [28]:
iitb = tweets_df.combine_first(tweets_df)
iitb

,Tweet_text,date,username,retweets,uni_handle
0,"#OnThisDay in 1831, James Clerk Maxwell was bo...",2020-06-13 13:36:43+00:00,Techfest_IITB,19,NaN
1,This being the only courier service in the are...,2020-06-13 13:31:12+00:00,Karthik38561419,0,NaN
2,And QS world University ranking to standing of...,2020-06-13 11:44:07+00:00,Ashutos55613937,0,NaN
3,Please Help Us #Students .Please extend Date o...,2020-06-13 11:27:36+00:00,Himansh18811460,1,NaN
4,@Techfest_IITB remembers Dr. John Forbes Nash ...,2020-06-13 11:11:54+00:00,Techfest_IITB,28,NaN
...,...,...,...,...,...
11936,TIME PASS.... Ask them to quit IIM and then pr...,2020-01-01 05:36:16+00:00,hemmu25,0,NaN
11937,Must watch. Epic! https://youtu.be/CEpRccgc9G0...,2020-01-01 04:57:35+00:00,ApoorvanandJ,0,NaN
11938,"yes, IIT D, IIT BOMBAY, IIT MADRAS, IIT KANPUR...",2020-01-01 04:52:50+00:00,ProudToBeJamian,0,NaN
11939,IIT Bombay Beckons you to attend an alumni reu...,2020-01-01 03:37:30+00:00,debeshchoudhury,0,NaN
11940,When will India develop this advanced weapons?...,2020-01-01 00:31:00+00:00,rewatiramanray,0,NaN

In [29]:
iitb[iitb['uni_handle'] == 1]

,Tweet_text,date,username,retweets,uni_handle
90,"E-Cell, IIT Bombay congratulates Kiran Mazumda...",2020-06-12 11:53:56+00:00,ecell_iitb,8,1.0
296,IIT Bombay is ranked 3rd in engineering catego...,2020-06-11 09:19:45+00:00,iitbombay,34,1.0
667,Campus Ambassador program is still live! Apply...,2020-06-10 12:04:07+00:00,ecell_iitb,9,1.0
835,"The Indian Institute of Technology, Bombay, is...",2020-06-10 02:58:23+00:00,iitbombay,121,1.0
1158,"Presenting second in the series, ""Resilient Su...",2020-06-07 11:50:10+00:00,ecell_iitb,8,1.0
...,...,...,...,...,...
11855,"Air Marshal Vibhas Pande VSM, an IIT Bombay al...",2020-01-03 05:21:19+00:00,iitbombay,5,1.0
11857,"DRDO will establish five laboratories, each in...",2020-01-03 05:13:12+00:00,iitbombay,4,1.0
11858,Delhi gets first smog tower to combat air poll...,2020-01-03 05:10:55+00:00,iitbombay,12,1.0
11859,"Launched in 2015, Bengaluru-based fintech plat...",2020-01-03 05:08:33+00:00,iitbombay,1,1.0
11935,MHRD is organizing 2nd national Essay Competit...,2020-01-01 05:57:30+00:00,iitbombay,2,1.0

In [30]:
iitb['uni_handle'] = iitb['uni_handle'].replace(np.nan, 0)

In [31]:
iitb[iitb['uni_handle'] == 1]

,Tweet_text,date,username,retweets,uni_handle
90,"E-Cell, IIT Bombay congratulates Kiran Mazumda...",2020-06-12 11:53:56+00:00,ecell_iitb,8,1.0
296,IIT Bombay is ranked 3rd in engineering catego...,2020-06-11 09:19:45+00:00,iitbombay,34,1.0
667,Campus Ambassador program is still live! Apply...,2020-06-10 12:04:07+00:00,ecell_iitb,9,1.0
835,"The Indian Institute of Technology, Bombay, is...",2020-06-10 02:58:23+00:00,iitbombay,121,1.0
1158,"Presenting second in the series, ""Resilient Su...",2020-06-07 11:50:10+00:00,ecell_iitb,8,1.0
...,...,...,...,...,...
11855,"Air Marshal Vibhas Pande VSM, an IIT Bombay al...",2020-01-03 05:21:19+00:00,iitbombay,5,1.0
11857,"DRDO will establish five laboratories, each in...",2020-01-03 05:13:12+00:00,iitbombay,4,1.0
11858,Delhi gets first smog tower to combat air poll...,2020-01-03 05:10:55+00:00,iitbombay,12,1.0
11859,"Launched in 2015, Bengaluru-based fintech plat...",2020-01-03 05:08:33+00:00,iitbombay,1,1.0
11935,MHRD is organizing 2nd national Essay Competit...,2020-01-01 05:57:30+00:00,iitbombay,2,1.0

In [32]:
#dataframe containing additional column uni_handle (1 if it is a handle of the university else 0)
#iitm[iitm['uni_handle'] == 0] 
iitb_final = iitb.drop_duplicates()
iitb_final

,Tweet_text,date,username,retweets,uni_handle
0,"#OnThisDay in 1831, James Clerk Maxwell was bo...",2020-06-13 13:36:43+00:00,Techfest_IITB,19,0.0
1,This being the only courier service in the are...,2020-06-13 13:31:12+00:00,Karthik38561419,0,0.0
2,And QS world University ranking to standing of...,2020-06-13 11:44:07+00:00,Ashutos55613937,0,0.0
3,Please Help Us #Students .Please extend Date o...,2020-06-13 11:27:36+00:00,Himansh18811460,1,0.0
4,@Techfest_IITB remembers Dr. John Forbes Nash ...,2020-06-13 11:11:54+00:00,Techfest_IITB,28,0.0
...,...,...,...,...,...
11936,TIME PASS.... Ask them to quit IIM and then pr...,2020-01-01 05:36:16+00:00,hemmu25,0,0.0
11937,Must watch. Epic! https://youtu.be/CEpRccgc9G0...,2020-01-01 04:57:35+00:00,ApoorvanandJ,0,0.0
11938,"yes, IIT D, IIT BOMBAY, IIT MADRAS, IIT KANPUR...",2020-01-01 04:52:50+00:00,ProudToBeJamian,0,0.0
11939,IIT Bombay Beckons you to attend an alumni reu...,2020-01-01 03:37:30+00:00,debeshchoudhury,0,0.0
11940,When will India develop this advanced weapons?...,2020-01-01 00:31:00+00:00,rewatiramanray,0,0.0

In [33]:
#Finding sentiment of the tweets using VADER
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
iitb['compound'] = [analyzer.polarity_scores(v)['compound'] for v in iitb['Tweet_text']]

In [34]:
iitb

,Tweet_text,date,username,retweets,uni_handle,compound
0,"#OnThisDay in 1831, James Clerk Maxwell was bo...",2020-06-13 13:36:43+00:00,Techfest_IITB,19,0.0,0.6369
1,This being the only courier service in the are...,2020-06-13 13:31:12+00:00,Karthik38561419,0,0.0,0.3612
2,And QS world University ranking to standing of...,2020-06-13 11:44:07+00:00,Ashutos55613937,0,0.0,0.0000
3,Please Help Us #Students .Please extend Date o...,2020-06-13 11:27:36+00:00,Himansh18811460,1,0.0,0.8519
4,@Techfest_IITB remembers Dr. John Forbes Nash ...,2020-06-13 11:11:54+00:00,Techfest_IITB,28,0.0,0.0000
...,...,...,...,...,...,...
11936,TIME PASS.... Ask them to quit IIM and then pr...,2020-01-01 05:36:16+00:00,hemmu25,0,0.0,-0.2500
11937,Must watch. Epic! https://youtu.be/CEpRccgc9G0...,2020-01-01 04:57:35+00:00,ApoorvanandJ,0,0.0,0.0000
11938,"yes, IIT D, IIT BOMBAY, IIT MADRAS, IIT KANPUR...",2020-01-01 04:52:50+00:00,ProudToBeJamian,0,0.0,0.9167
11939,IIT Bombay Beckons you to attend an alumni reu...,2020-01-01 03:37:30+00:00,debeshchoudhury,0,0.0,0.6166
11940,When will India develop this advanced weapons?...,2020-01-01 00:31:00+00:00,rewatiramanray,0,0.0,0.2240

In [35]:
#classifying sentiments as positive,negative and neutral
def sentiment(compound):
    res = ""
    if(compound >= 0.05):
        res="Positive"
    elif(compound <= - 0.05):
        res="Negative"
    else:
        res="Neutral"
    return res

iitb['Sentiment'] = iitb['compound'].apply(lambda x: sentiment(x))

In [36]:
iitb

,Tweet_text,date,username,retweets,uni_handle,compound,Sentiment
0,"#OnThisDay in 1831, James Clerk Maxwell was bo...",2020-06-13 13:36:43+00:00,Techfest_IITB,19,0.0,0.6369,Positive
1,This being the only courier service in the are...,2020-06-13 13:31:12+00:00,Karthik38561419,0,0.0,0.3612,Positive
2,And QS world University ranking to standing of...,2020-06-13 11:44:07+00:00,Ashutos55613937,0,0.0,0.0000,Neutral
3,Please Help Us #Students .Please extend Date o...,2020-06-13 11:27:36+00:00,Himansh18811460,1,0.0,0.8519,Positive
4,@Techfest_IITB remembers Dr. John Forbes Nash ...,2020-06-13 11:11:54+00:00,Techfest_IITB,28,0.0,0.0000,Neutral
...,...,...,...,...,...,...,...
11936,TIME PASS.... Ask them to quit IIM and then pr...,2020-01-01 05:36:16+00:00,hemmu25,0,0.0,-0.2500,Negative
11937,Must watch. Epic! https://youtu.be/CEpRccgc9G0...,2020-01-01 04:57:35+00:00,ApoorvanandJ,0,0.0,0.0000,Neutral
11938,"yes, IIT D, IIT BOMBAY, IIT MADRAS, IIT KANPUR...",2020-01-01 04:52:50+00:00,ProudToBeJamian,0,0.0,0.9167,Positive
11939,IIT Bombay Beckons you to attend an alumni reu...,2020-01-01 03:37:30+00:00,debeshchoudhury,0,0.0,0.6166,Positive
11940,When will India develop this advanced weapons?...,2020-01-01 00:31:00+00:00,rewatiramanray,0,0.0,0.2240,Positive

In [37]:
iitb.to_csv('final_iitb.csv')

In [20]:
len(text_tweets3)

11941