In [17]:
import json
import csv
import tweepy
import re
import nltk
from nltk.stem import WordNetLemmatizer
import pandas as pd
import GetOldTweets3 as got
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()
import numpy as np

In [18]:
consumer_key = input()
consumer_secret = input()
access_key = input()
access_secret = input()

BZCiEnipIjwlIr5qdFawFL7Ka
UTHnBo6nzb5HhsQGoFxjEHBHArDAlT9VyXx8x98AObzpV6iArr
757468675414695936-wVM842i23t6yTUDhbwuKkH92LGnZRAq
TEFpzrCMH8aYl7YURiygG6Mgk76BAM9tLNWagI8JBAHiZ

In [19]:
#tweets_df = pd.DataFrame(text_tweets)
#len(text_tweets2)
text_query3 = 'IIT Bombay'
since_date = '2020-01-01'
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setLang('en')
# Creation of list that contains all tweets
tw3 = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets3 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets] for tweet in tw3]

In [10]:
#len(text_tweets3)
#tweets_df
#final_tweets = [text_tweets,text_tweets2,text_tweets3]
)
frames = [tweets_df1,tweets_df2,tweets_df3]
tweets_df = pd.concat(frames)

In [11]:
tweets_df.columns = ['Tweet_text' , 'date' , 'username','retweets']

In [12]:
tweets_df = tweets_df.drop_duplicates()
#tweets_df.to_csv('og_iitm.csv')
tweets_df

,Tweet_text,date,username,retweets
0,iit bombay and iit delhi in top 500 world univ...,2020-06-12 16:27:22+00:00,sajal_jha,0
1,NIRF Ranking 2020: Top 100 Colleges and Univer...,2020-06-12 16:19:22+00:00,EduGyanam,0
2,postpond neet sir in this at home we are not a...,2020-06-12 16:17:17+00:00,Dnyanes75019388,0
3,#postponedjee and neet,2020-06-12 15:48:27+00:00,Shabnam50830983,0
4,IIT Bombay student motivation,2020-06-12 15:42:00+00:00,RoyayadavK,0
...,...,...,...,...
1090,Thanks for the well wishes! Thanks to brillian...,2020-06-07 07:45:34+00:00,DrGauravNarula,5
1091,"I did Btech from @iitbombay ,I thought #Rainbo...",2020-06-07 07:33:35+00:00,Akash_IRS,32
18,Relatable #postponejee #postponeneet,2020-06-12 15:24:55+00:00,SatyamT85863156,1
22,The valuation subject should be post graduate ...,2020-06-12 14:45:07+00:00,shekhargupta68,2
53,#RegisterNow at #onlinetraining for enquiries ...,2020-06-12 10:38:23+00:00,PreetiGangwar19,5

In [29]:
#check how many tweets were from one of the university handles
uni_tweets = tweets_df.loc[tweets_df['username'].isin(['iitbombay','ecell_iitb','idc_iitb','edtechiitb'])]

In [30]:
uni_tweets['uni_handle'] = 1

C:\Users\KIRHIKAGURUMURTHY\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
uni_tweets
#uni_handle_list =  ['iitmadras','ecelliitm','vandemataramiit','iGEM_IITM','iitm_respark','domsiitmadras','emliitm','iitmbt','CFI_IITM','iitmfoundation']

,Tweet_text,date,username,retweets,uni_handle
12,"E-Cell, IIT Bombay congratulates Kiran Mazumda...",2020-06-12 11:53:56+00:00,ecell_iitb,7,1
211,IIT Bombay is ranked 3rd in engineering catego...,2020-06-11 09:19:45+00:00,iitbombay,31,1
569,Campus Ambassador program is still live! Apply...,2020-06-10 12:04:07+00:00,ecell_iitb,9,1
735,"The Indian Institute of Technology, Bombay, is...",2020-06-10 02:58:23+00:00,iitbombay,119,1
1028,"Presenting second in the series, ""Resilient Su...",2020-06-07 11:50:10+00:00,ecell_iitb,8,1

In [32]:
tweets_df['uni_handle'] = uni_tweets['uni_handle']

C:\Users\KIRHIKAGURUMURTHY\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
iitb = tweets_df.combine_first(tweets_df)
iitb

,Tweet_text,date,username,retweets,uni_handle
0,Postponed neet,2020-06-12 13:35:55+00:00,SahilPa58987978,0,NaN
1,NIRF Ranking 2020: Top Best 10 Institutes acro...,2020-06-12 13:23:21+00:00,edushikshaguide,2,NaN
2,"Number of corona positive case- 298,482 IIT De...",2020-06-12 13:02:05+00:00,y0dha__,0,NaN
3,Humid weather during monsoon may worsen corona...,2020-06-12 12:57:08+00:00,MaduraiMet,0,NaN
4,"Delhi, Maharashtra University exams cancel IIT...",2020-06-12 12:54:49+00:00,RahulJo68730853,0,NaN
...,...,...,...,...,...
1,Will u even bother to read and reply to the me...,2020-06-12 13:50:35+00:00,shiv_iitbombay,0,NaN
2,Cannot guess if this is sarcasm or real,2020-06-12 13:45:36+00:00,hbtualumni,0,NaN
47,"Delhi, Maharashtra University exams cancel IIT...",2020-06-12 07:32:38+00:00,manasvee_suthar,21,NaN
655,QS World University Rankings 2021: 3 Indian In...,2020-06-10 11:09:51+00:00,careeraftergrad,0,NaN
676,"QS Rankings 2020: IIT Bombayâ€™s position dips, ...",2020-06-10 08:32:17+00:00,HindustanTimes,0,NaN

In [34]:
iitb[iitb['uni_handle'] == 1]

,Tweet_text,date,username,retweets,uni_handle
12,"E-Cell, IIT Bombay congratulates Kiran Mazumda...",2020-06-12 11:53:56+00:00,ecell_iitb,7,1.0
211,IIT Bombay is ranked 3rd in engineering catego...,2020-06-11 09:19:45+00:00,iitbombay,31,1.0
569,Campus Ambassador program is still live! Apply...,2020-06-10 12:04:07+00:00,ecell_iitb,9,1.0
735,"The Indian Institute of Technology, Bombay, is...",2020-06-10 02:58:23+00:00,iitbombay,119,1.0
1028,"Presenting second in the series, ""Resilient Su...",2020-06-07 11:50:10+00:00,ecell_iitb,8,1.0

In [35]:
iitb['uni_handle'] = iitb['uni_handle'].replace(np.nan, 0)

In [36]:
iitb[iitb['uni_handle'] == 1]

,Tweet_text,date,username,retweets,uni_handle
12,"E-Cell, IIT Bombay congratulates Kiran Mazumda...",2020-06-12 11:53:56+00:00,ecell_iitb,7,1.0
211,IIT Bombay is ranked 3rd in engineering catego...,2020-06-11 09:19:45+00:00,iitbombay,31,1.0
569,Campus Ambassador program is still live! Apply...,2020-06-10 12:04:07+00:00,ecell_iitb,9,1.0
735,"The Indian Institute of Technology, Bombay, is...",2020-06-10 02:58:23+00:00,iitbombay,119,1.0
1028,"Presenting second in the series, ""Resilient Su...",2020-06-07 11:50:10+00:00,ecell_iitb,8,1.0

In [37]:
#dataframe containing additional column uni_handle (1 if it is a handle of the university else 0)
#iitm[iitm['uni_handle'] == 0] 
iitb_final = iitb.drop_duplicates()
iitb_final

,Tweet_text,date,username,retweets,uni_handle
0,Postponed neet,2020-06-12 13:35:55+00:00,SahilPa58987978,0,0.0
1,NIRF Ranking 2020: Top Best 10 Institutes acro...,2020-06-12 13:23:21+00:00,edushikshaguide,2,0.0
2,"Number of corona positive case- 298,482 IIT De...",2020-06-12 13:02:05+00:00,y0dha__,0,0.0
3,Humid weather during monsoon may worsen corona...,2020-06-12 12:57:08+00:00,MaduraiMet,0,0.0
4,"Delhi, Maharashtra University exams cancel IIT...",2020-06-12 12:54:49+00:00,RahulJo68730853,0,0.0
...,...,...,...,...,...
1,Will u even bother to read and reply to the me...,2020-06-12 13:50:35+00:00,shiv_iitbombay,0,0.0
2,Cannot guess if this is sarcasm or real,2020-06-12 13:45:36+00:00,hbtualumni,0,0.0
47,"Delhi, Maharashtra University exams cancel IIT...",2020-06-12 07:32:38+00:00,manasvee_suthar,21,0.0
655,QS World University Rankings 2021: 3 Indian In...,2020-06-10 11:09:51+00:00,careeraftergrad,0,0.0
676,"QS Rankings 2020: IIT Bombayâ€™s position dips, ...",2020-06-10 08:32:17+00:00,HindustanTimes,0,0.0

In [40]:
#Finding sentiment of the tweets using VADER
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
iitb['compound'] = [analyzer.polarity_scores(v)['compound'] for v in iitb['Tweet_text']]

In [41]:
iitb

,Tweet_text,date,username,retweets,uni_handle,compound
0,Postponed neet,2020-06-12 13:35:55+00:00,SahilPa58987978,0,0.0,-0.2023
1,NIRF Ranking 2020: Top Best 10 Institutes acro...,2020-06-12 13:23:21+00:00,edushikshaguide,2,0.0,0.7184
2,"Number of corona positive case- 298,482 IIT De...",2020-06-12 13:02:05+00:00,y0dha__,0,0.0,-0.0516
3,Humid weather during monsoon may worsen corona...,2020-06-12 12:57:08+00:00,MaduraiMet,0,0.0,-0.5106
4,"Delhi, Maharashtra University exams cancel IIT...",2020-06-12 12:54:49+00:00,RahulJo68730853,0,0.0,-0.6003
...,...,...,...,...,...,...
1,Will u even bother to read and reply to the me...,2020-06-12 13:50:35+00:00,shiv_iitbombay,0,0.0,-0.3400
2,Cannot guess if this is sarcasm or real,2020-06-12 13:45:36+00:00,hbtualumni,0,0.0,-0.2263
47,"Delhi, Maharashtra University exams cancel IIT...",2020-06-12 07:32:38+00:00,manasvee_suthar,21,0.0,-0.6003
655,QS World University Rankings 2021: 3 Indian In...,2020-06-10 11:09:51+00:00,careeraftergrad,0,0.0,0.3818
676,"QS Rankings 2020: IIT Bombayâ€™s position dips, ...",2020-06-10 08:32:17+00:00,HindustanTimes,0,0.0,0.0000

In [42]:
#classifying sentiments as positive,negative and neutral
def sentiment(compound):
    res = ""
    if(compound >= 0.05):
        res="Positive"
    elif(compound <= - 0.05):
        res="Negative"
    else:
        res="Neutral"
    return res

iitb['Sentiment'] = iitb['compound'].apply(lambda x: sentiment(x))

In [43]:
iitb

,Tweet_text,date,username,retweets,uni_handle,compound,Sentiment
0,Postponed neet,2020-06-12 13:35:55+00:00,SahilPa58987978,0,0.0,-0.2023,Negative
1,NIRF Ranking 2020: Top Best 10 Institutes acro...,2020-06-12 13:23:21+00:00,edushikshaguide,2,0.0,0.7184,Positive
2,"Number of corona positive case- 298,482 IIT De...",2020-06-12 13:02:05+00:00,y0dha__,0,0.0,-0.0516,Negative
3,Humid weather during monsoon may worsen corona...,2020-06-12 12:57:08+00:00,MaduraiMet,0,0.0,-0.5106,Negative
4,"Delhi, Maharashtra University exams cancel IIT...",2020-06-12 12:54:49+00:00,RahulJo68730853,0,0.0,-0.6003,Negative
...,...,...,...,...,...,...,...
1,Will u even bother to read and reply to the me...,2020-06-12 13:50:35+00:00,shiv_iitbombay,0,0.0,-0.3400,Negative
2,Cannot guess if this is sarcasm or real,2020-06-12 13:45:36+00:00,hbtualumni,0,0.0,-0.2263,Negative
47,"Delhi, Maharashtra University exams cancel IIT...",2020-06-12 07:32:38+00:00,manasvee_suthar,21,0.0,-0.6003,Negative
655,QS World University Rankings 2021: 3 Indian In...,2020-06-10 11:09:51+00:00,careeraftergrad,0,0.0,0.3818,Positive
676,"QS Rankings 2020: IIT Bombayâ€™s position dips, ...",2020-06-10 08:32:17+00:00,HindustanTimes,0,0.0,0.0000,Neutral

In [44]:
iitb.to_csv('final_iitb.csv')

In [20]:
len(text_tweets3)

11941